/** {
	outline: red 1px solid;
}*/

body {
	background-color: #000;
}

.main{
	background: url('http://i.imgur.com/GFaoSEU.gif');
	background-position: 0px -200px;
	margin-top: 110px;
	padding-left: 75px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
}

.ryu {
	width: 659px;
	height: 494px;
	float: left;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still { 
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing { 
	background-image: url('../images/ryu-throwing-hadouken.png');
}


.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.ryu-throwing {
	float: left;
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	top: 175px;
	left: 650px;
	float: left;
	position: absolute;
	z-index: 1000;
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
	background-repeat: no-repeat;
}

.logo {
	position: absolute;
	top: 50px;
	left: 550px;
}

.help {
	font-family: 'Helvetica';
	font-size: 1.3em;
	color: yellow;
	font-weight: 600;
	position: absolute;
	top: 300px;
	left: 550px;
}
